xmlservipag/xmlservipag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 sp2 (http://www.altova.com) by EMBRACE (EMBRACE) -->
<!--W3C Schema generated by XMLSpy v2007 rel. 3 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Servipag">
		<xs:annotation>
			<xs:documentation>Tag raiz de servipag</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header"/>
				<xs:element ref="Documentos" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NumeroBoletas" type="xs:int">
		<xs:annotation>
			<xs:documentation>cantidad de documentos a enviar</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MontoTotalDeuda" type="xs:long">
		<xs:annotation>
			<xs:documentation>monto total de la operacion</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Monto" type="xs:long"/>
	<xs:element name="IdTxPago" type="xs:string"/>
	<xs:element name="IdSubTx" type="xs:string"/>
        
        <xs:element name="NombreCliente" type="xs:string"/>
        <xs:element name="RutCliente" type="xs:string"/>
        <xs:element name="EmailCliente" type="xs:string"/>
        <xs:element name="Version" type="xs:string"/>
        
        
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FirmaEPS"/>
				<xs:element ref="CodigoCanalPago"/>
				<xs:element ref="IdTxPago"/>
				<xs:element ref="FechaPago"/>
				<xs:element ref="MontoTotalDeuda"/>
				<xs:element ref="NumeroBoletas"/>
                                
                                <xs:element ref="NombreCliente"/>
                                <xs:element ref="RutCliente"/>
                                <xs:element ref="EmailCliente"/>
                                <xs:element ref="Version"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FirmaEPS" type="xs:string"/>
	<xs:element name="FechaVencimiento" type="xs:string"/>
	<xs:element name="FechaPago" type="xs:string"/>
	<xs:element name="Documentos">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IdSubTx"/>
				<xs:element ref="Identificador"/>
				<xs:element ref="Boleta"/>
				<xs:element ref="Monto"/>
				<xs:element ref="FechaVencimiento"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Identificador" type="xs:string"/>
	<xs:element name="CodigoCanalPago" type="xs:string"/>
	<xs:element name="Boleta" type="xs:string"/>
</xs:schema>
